@font-face {
    font-family: 'Signifier';
    src: url('Signifier-Regular.woff2') format('woff2'),
        url('Signifier-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Signifier';
    src: url('Signifier-RegularItalic.woff2') format('woff2'),
        url('Signifier-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Signifier';
    src: url('Signifier-Light.woff2') format('woff2'),
        url('Signifier-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Signifier';
    src: url('Signifier-LightItalic.woff2') format('woff2'),
        url('Signifier-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}